<header class="bg-dark py-5">
    <!-- <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">SoleCraze</h1>
            <p class="lead fw-normal text-white-50 mb-0">Where Your Footwear Dreams Come to Life!</p>
        </div>
    </div> -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="cimg" src="https://i.postimg.cc/B6FWhj3Q/pexels-melvin-buezo-2529157-1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img id="cimg" src="https://i.postimg.cc/Pxr1tw62/shoe1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img id="cimg" src="https://i.postimg.cc/52zw21fQ/pexels-melvin-buezo-2529148.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</header>
<div class="container w-50">

  <div class="btn-group mx-5 mt-5" role="group" aria-label="Basic example">
    <button (click)="categoryProduct('')" type="button" class="btn btn-primary">All</button>
    <button (click)="categoryProduct(1)" type="button" class="btn btn-primary">Casual</button>
    <button (click)="categoryProduct(2)" type="button" class="btn btn-primary">sneakers</button>
    <button (click)="categoryProduct(3)" type="button" class="btn btn-primary">sandal</button>
  
  </div>
</div>

<!-- Section-->
<section class="py-4">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let i of categoryProducts | search:searchString:'productName'" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 300px;" class="card-img-top" src={{i.productImg}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                           {{i.price}} RS
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="products/view-product/{{i.id}}">View</a></div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>